/*************************************************************************
*
*
* Input
*
*
*************************************************************************/

.sq-input-wrapper {
	padding: 1.5rem 0;
	position: relative;

	.input-label {
		font-size: .875rem;
	}

	.label-text {
		color: $blue-darker;
		display: inline-block;
		font-size: .75rem;
		font-weight: bold;
		margin-bottom: .5rem;
	}

	.input-wrapper {
		position: relative;
	}

	.sq-input {
		background: $gray-lighter;
		border: 1px solid $blue-darker;
		border-left: 8px solid $blue-darker;
		color: $blue-darker;
		display: block;
		font-size: 1.25rem;
		font-weight: 100;
		line-height: 1.75rem;
		padding: .75rem 1.5rem .75rem 1rem;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	&.has-icon {
		.sq-input {
			padding-right: 3rem;
		}

		.sq-icon-wrapper {
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 3rem;
		}
	}

	&.input-invalid {
		border-color: $red;

		.sq-input {
			border-color: $red;
			color: $red;
		}
	}
}
