/*************************************************************************
*
*
* Input
*
*
*************************************************************************/

.sq-input-wrapper {
	padding-top: 1.5rem;
	position: relative;

	&:first-child {
		padding-top: 0;
	}

	.input-label {
		font-size: .875rem;
	}

	.label-text {
		color: $blue-darker;
		display: inline-block;
		margin-bottom: .5rem;
		position: relative;
		transform: translate(20px, 40px);
		transition: .175s ease-in-out;
		z-index: 1;
	}

	.input-wrapper {
		position: relative;

		&:before {
			background: $blue-darker;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			width: .5rem;
			z-index: 1;
		}
	}

	.sq-input {
		background: $gray-lighter;
		border: 1px solid $blue-darker;
		color: $blue-darker;
		display: block;
		line-height: 1.125rem;
		padding: .75rem 1rem;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	&.input-focus, &.input-filled {

		.label-text {
			transform: translate(0px, 0px);
		}
	}

	&.input-invalid {
		border-color: $red;

		.input-wrapper {

			&:before {
				background: $red;
			}
		}

		.sq-input {
			border-color: $red;
			color: $red;
		}
	}
}
