/*************************************************************************
*
*
* Multi-Step Module
*
*
*************************************************************************/
.multi-step-module {

	.multi-step-header {
		border-bottom: 1px solid $blue-darker;
		padding: 0 1rem;
	}

	.multi-step-nav {
		display: flex;
	}

	.multi-step-nav-item {
		font-weight: lighter;
		padding: .5rem 1rem;

		&.enabled {
			cursor: pointer;
		}

		&.active {
			color: $blue;
		}
	}
}
