/*************************************************************************
*
*
* Tooltip
*
*
*************************************************************************/

%tooltip-base {
	box-shadow: .125rem .125rem 8px rgba(0, 0, 0, .5);
	position: absolute;
	z-index: 10;

	// tooltip accent
	&:before, &:after {
		content: '';
		height: 0;
		position: absolute;
		width: 0;
	}

	// tooltip position
	&.tooltip-bottom {
		animation: .125s ease-out 0s 1 slideDownFromTop;
		left: 0;
		top: calc(100% + .75rem);

		&:before, &:after {
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
		}
	}

	&.tooltip-top {
		animation: .125s ease-out 0s 1 slideUpFromBottom;
		bottom: calc(100% + .75rem);
		left: 0;

		&:before, &:after {
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
		}
	}



	// tooltip body content
	.tooltip-content {
		padding: .25rem .5rem .25rem 1rem;
		position: relative;

		&:before {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			width: .5rem;
		}
	}
}

//.tooltip-info {
//	@extend %tooltip-base;
//
//	background: $gray-lighter;
//	color: $black;
//
//	&:before {
//		background: $gray-light;
//	}
//}

.tooltip-error {
	@extend %tooltip-base;

	background: $red;
	border: 1px solid $red-darker;

	&.tooltip-bottom {

		&:before {
			border-bottom: 8px solid $red-darker;
			left: 1rem;
			top: -8px;
		}

		&:after {
			border-bottom: 8px solid $red;
			left: 1rem;
			top: -7px;
		}
	}

	.tooltip-content {

		&:before {
			background: $red-darker;
		}
	}

	p {
		color: $white;
		font-size: .75rem;
	}
}


@keyframes slideDownFromTop {
	0% {
		transform: translate(0, -10px);
	}

	100% {
		transform: translate(0, 0);
	}
}

@keyframes slideUpFromBottom {
	0% {
		transform: translate(0, 10px);
	}

	100% {
		transform: translate(0, 0);
	}
}
