/*************************************************************************
*
*
* Signup Page
*
*
*************************************************************************/
.signup-page {
	padding: 2rem 0;

	.mod-body-wrapper {
		padding-top: .5rem;
	}

	.username-unavail-tip, .password-invalid-tip, .email-invalid-tip {
		max-width: 20rem;
		white-space: nowrap;
	}

	.username-invalid-tip {
		width: 20rem;
	}

	.email-tip, .name-tip {
		width: 20rem;
	}
}
