/*************************************************************************
*
*
* Variables
*
*
*************************************************************************/

// Generic Colors
$black: #000;
$black-lighten-50: lighten($black, 50%);
$black-lighten-90: lighten($black, 90%);

$gray-lighter: #f0f0f0;
$gray-light: #c0c0c0;
$gray: #909090;
$gray-dark: #606060;
$gray-darker: #404040;

$white: #fff;
$offwhite: #f5f5f5;

$blue: #34a1eb;
$blue-dark: #1770ad;
$blue-darker: #094670;

$red: #db0d36;
$red-dark: #a60324;
$red-darker: #6b0016;
